.imgCss {
  width: 60%;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 15px;
  height: 25%;
}
.taskCss {
  width: 125px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-right: 1rem;
  text-align: start;
  border-radius: 10%;
}
.taskCss p {
  width: 75px;
}
.headingCss {
  width: 100%;
  color: white;
  align-items: start;
  padding-left: auto;
  margin-left: auto;
}
.numberCss {
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-bottom: auto;
  margin-top: auto;
  font-size: 20px;
}
