.container {
  margin-top: 4rem;
}
.button_container {
  width: 100%;
  max-width: 600px;
  display: inline;
}
.button_cart {
  border: 1px solid black;
  display: column;
  justify-content: center;
  margin-left: 10px;
  margin-top: 1rem;
}
.button_cart:hover {
  background-color: rgb(215, 245, 250);
  border: 1px solid black;
}
.count_of_post {
  margin-bottom: auto;
}
.number {
  font-weight: bold;
}
.box_item {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.item {
  background-color: rgba(234, 240, 241, 0.827);
  border: 1px solid black;
  margin-top: 1rem;
  width: 100%;
  max-width: 900px;
}
.item p {
  text-align: start;
  margin: 10px;
}
.item span {
  font-weight: bold;
}
