.cart_icon {
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}
.cart_icon img {
  width: 100%;
}
.cart_icon span {
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -5px;
  top: -5px;
}
